<h1>Edit Child</h1>
   <br>

<%if @errors %>
   <div class="alert alert-danger" role="alert">
      <h5 class="alert-heading">The following errors occurred:</h5>
      <hr>
      <% @errors.each do |error|%>
      <li><%=error%></li>
   <%end%>
   </div>
<%end%>

<form method="POST" action="/children/<%=@child.id%>">
   <input type="hidden" id="hidden" name="_method" value="patch">
   <label>First Name:<input type="text" name="first_name" value="<%=@child.first_name%>"></label>
   <br>
   <label>Last Name:<input type="text" name="last_name" value="<%=@child.last_name%>"></label>
   <br>
   <label>Contact Phone:
      <input type="text" maxlength="10" name="contact_phone" value="<%=@child.contact_phone%>">
   </label>
   <br>
   <label>Contact Email:
      <input type="email" name="contact_email" value="<%=@child.contact_email%>">
   </label>
   <br>
   <label>Notes:<textarea type="text" name="notes" value="<%=@child.notes%>"></textarea></label>
   <br>
   <input type="submit">
</form>