<h1>Child</h1>

<h3><%="#{@child.first_name}, #{@child.last_name}"%></h3>
<span><%=@child.contact_phone%></p>
<span><%=@child.contact_email%></p>
<span><%=@child.notes%></p>


<form method="GET" action="/children/<%=@child.id%>/edit">
   <input type="submit" value="Edit">
</form>

<form method="POST" action="/children/<%=@child.id%>">
   <input type="hidden" name="_method" value="delete">
   <input type="submit" value="Delete">
</form>
