<div>
   <div class="text-center h1">Welcome, <%=current_user.first_name.capitalize%></div>
   <div class="text-center h2"><%=@time%></div>
   <hr>

   <div class="row">
      <div class="col text-center alerts">
         <%@staff.each do |s|%>
            <%if (s.background_check == nil || s.cpr_certified == nil)%>
             <%@missing_certs = true%>
               <div class="row">
                  <div class="col">
                     <div class="alert alert-danger" role="alert">
                     <%=s.first_name.capitalize%> <%=s.last_name.capitalize%> is missing certifications.
                     <a href="/employees/<%=s.id%>/edit" class="btn-sm btn-secondary">Manage</a>
                  </div>
               </div>
               </div>
            <%end%>
         <%end%>
      <%if @staff.empty? && @roster.empty? %>
         <div class="alert alert-success" role="alert">Get started by adding a child or employee.</div>
      <%elsif !@missing_certs%>
         <div class="alert alert-success" role="alert">Everything is good! 🎉</div>
      <%end%>
      </div>
   </div>

   <div class="row">

      <div class="col text-center">
         <h5>Roster</h5>
            <%if !@roster.empty?%>
               <%@roster.each do |r|%>
                  <div class="row">
                     <div class="col">
                        <a href="/children/<%=r.id%>"><%=r.last_name.capitalize%>, <%=r.first_name.capitalize%></a>
                     </div>
                  </div>
               <%end%>
            <%else%>
            <div class="col text-center">
               <a href="/children/new"><button class="btn btn-primary">Add Child</button></a>
            </div>
            <%end%>
      </div>

      <div class="col text-center">
         <h5>Staff</h5>
            <%if !@staff.empty?%>
               <%@staff.each do |s|%>
                  <div class="row">
                     <div class="col">
                        <a href="/employees/<%=s.id%>"><%=s.last_name.capitalize%>, <%=s.first_name.capitalize%></a>
                     </div>
                  </div>
               <%end%>
            <%else%>
               <div class="col text-center">
                  <a href="/employees/new"><button class="btn btn-primary">Add Employee</button></a>
               </div>      
            <%end%>
         </div>
   </div>

</div>